<form action="">
  <div class="calculator">
    <input
      type="text"
      class="calculator-screen"
      [value]="screenValue"
      disabled
    />

    <div class="special-operators">
      <button type="button" (click)="getResetValues()" class="all-clear">
        AC
      </button>
    </div>

    <div class="operators">
      <button type="button" (click)="getOperator('/')" class="operator">
        &divide;
      </button>

      <button type="button" (click)="getOperator('*')" class="operator">
        &times;
      </button>

      <button type="button" (click)="getOperator('-')" class="operator">
        -
      </button>
      <button type="button" (click)="getOperator('+')" class="operator">
        +
      </button>

      <button
        type="button"
        (click)="executeOperation()"
        class="equal-sign"
        value="="
      >
        =
      </button>
    </div>

    <div class="numbers">
      <button type="button" (click)="getNumber('7')">7</button>
      <button type="button" (click)="getNumber('8')">8</button>
      <button type="button" (click)="getNumber('9')">9</button>

      <button type="button" (click)="getNumber('4')">4</button>
      <button type="button" (click)="getNumber('5')">5</button>
      <button type="button" (click)="getNumber('6')">6</button>

      <button type="button" (click)="getNumber('1')">1</button>
      <button type="button" (click)="getNumber('2')">2</button>
      <button type="button" (click)="getNumber('3')">3</button>
    </div>

    <div class="cero-decimal">
      <button type="button" (click)="getNumber('0')" class="number_cero">
        0
      </button>
      <button type="button" (click)="getNumber('.')" class="decimal">.</button>
    </div>
  </div>
</form>
