:host {
  --main-bg-color: black;
  --bg-color-screen: rgb(82, 84, 83);
  --bg-color-ac: rgb(99, 101, 100);
  --bg-color-numbers: rgb(125, 126, 125);
  --bg-color-operators: rgb(255, 162, 52);
  --default-border-radius: 0.5rem;
  --default-padding: 0.05rem;
  --default-gap: 0;
  --width-calculator: 10rem;
}

button {
  background-color: var(--bg-color-numbers);
  color: white;
  text-decoration: none;
  border: none;
}

.calculator {
  background: var(--main-bg-color);
  border-radius: var(--default-border-radius);
  padding: var(--default-padding);
  width: var(--width-calculator);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: scale(2) translate(-25%, -25%);
  display: grid;
  grid-template-columns: repeat(4, minmax(30px, 1fr));
  grid-template-rows: repeat(7, minmax(30px, 1fr));
  grid-template-areas:
    "calculator-screen calculator-screen calculator-screen calculator-screen"
    "calculator-screen calculator-screen calculator-screen calculator-screen"
    "special-operators special-operators special-operators operators"
    "numbers numbers numbers operators"
    "numbers numbers numbers operators"
    "numbers numbers numbers operators"
    "cero-decimal cero-decimal cero-decimal operators";
}

.calculator-screen {
  grid-area: calculator-screen;
  text-align: right;
  color: white;
  font-size: 2rem;
  background-color: var(--bg-color-screen);
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

.special-operators {
  grid-area: special-operators;
  display: grid;
  gap: var(--default-gap);
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  color: white;
}
.special-operators > button {
  background-color: var(--bg-color-ac);
}

/* .all-clear {
  grid-area: special-operators;
  background-color: var(--bg-color-screen) ;
  color: white;
}  */

.operators {
  grid-area: operators;
  display: grid;
  gap: var(--default-gap);
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, 1fr);
}

.operators > button {
  color: white;
  background-color: var(--bg-color-operators);
}

.numbers {
  grid-area: numbers;
  display: grid;
  gap: var(--default-gap);
  grid-gap: var(--default-gap) var(--default-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cero-decimal {
  grid-area: cero-decimal;
  display: grid;
  gap: var(--default-gap);
  grid-template-columns: repeat(3, 1fr);
}

.number_cero {
  grid-column: span 2;
  border-bottom-left-radius: var(--default-border-radius);
}

.equal-sign {
  border-bottom-right-radius: var(--default-border-radius);
}
